.main{
    min-height: 100vh;
    background: url("./lidye-1Shk_PkNkNw-unsplash.jpg") no-repeat center/cover;
    padding-top: 100px;
}



 /*добавить медия на максвидз 540 скролл*/

@media (max-width: 560px) {
    .overflow-scroll{
        overflow-x: scroll;
    }
}